<form class="form-container">
	
	<!-- <div class="business-button-container"> -->
		<input type="radio" id="biz-button" name="payee-radio" checked="checked">
		<label for="biz-button" class="business-button-text payee-type-container">Business</label>
	<!-- </div> -->
	
	<!-- <div class="person-button-container"> -->
		<input type="radio" id="person-button" name="payee-radio">
		<label for="person-button" class="person-button-text payee-type-container">Person</label>
	<!-- </div> -->
	
	<input type="text" id="business-input">
	
	<div class="submit-background">
		<div class="submit-arrow">
		</div>
	</div>
	
</form>
<br>
<ul id="payee-container"></ul>